@function rpx($value) {
  @return $value * 1rpx;
}

//垂直居中
@mixin vertical-center {
  display: flex;
  align-items: center;
}

//宽对水平居中
@mixin alignCenter($width) {
  width: $width;
  margin: auto;
}

//行内块级
@mixin inline {
  display: inline-block;
  vertical-align: top;
}

//背景颜色
@mixin backgroundImage($path, $size) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}

//img标签行为
@mixin imgStyle($height, $width) {
  display: block;
  height: $height;
  width: $width;
}

//绝对定位
@mixin absolute($height, $width) {
  height: $height;
  width: $width;
  position: absolute;
  left: calc(50% - #{$width/2});
}

//标题
@mixin title {
  height: rpx(76);
  padding: rpx(30) 0 0 rpx(30);
  font: {
    size: rpx(68);
    weight: bold;
  };
}

//按钮
@mixin btn {
  $height: rpx(95);
  width: 80%;
  height: $height;
  line-height: $height;
  text-align: center;
  color: white;
  background-color: #64C8BC;
  border-radius: 30px 30px 30px 30px;
  font-size: 20px;
}

