@function rpx($value) {
  @return $value * 1rpx;
}

//垂直居中
@mixin vertical-center {
  display: flex;
  align-items: center;
}

//宽对水平居中
@mixin alignCenter($width) {
  width: $width;
  margin: auto;
}

//行内块级
@mixin inline {
  display: inline-block;
  vertical-align: top;
}

//背景颜色
@mixin backgroundImage($path, $size) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}

//img标签行为
@mixin imgStyle($height, $width) {
  display: block;
  height: $height;
  width: $width;
}

//绝对定位
@mixin absolute($height, $width) {
  height: $height;
  width: $width;
  position: absolute;
  left: calc(50% - #{$width/2});
}

//fixed定位
@mixin fixed($height, $width) {
  height: $height;
  width: $width;
  position: fixed;
  left: calc(50% - #{$width/2});
}

//标题
@mixin title {
  height: rpx(72);
  padding: rpx(30) 0 0 rpx(30);
  font: {
    size: rpx(56);
    weight: bold;
  };
}

//按钮
@mixin btn {
  $height: rpx(95);
  width: 80%;
  height: $height;
  line-height: $height;
  text-align: center;
  color: white;
  background-color: #64C8BC;
  border-radius: 30px 30px 30px 30px;
  font-size: 20px;
}

/*遮罩*/
@mixin mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9000;
  opacity: 0.6;
}

/*弹窗*/
@mixin modalDlg{
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20rpx;
  text-align: left;
}
